.recipeCard {
    width: 17%;
    background-color: #EEE;
    outline: solid #DDD;
    border-radius: 10%;
}

.recipeTitle {
    text-align: center;
    margin: auto auto;
}

.recipePicture {
    width: 75%;
    border-radius: 40px;
    display: block;
    margin: 0px auto;
    padding: 10px 0px;
}

